body{
    background-image: url('https://media.giphy.com/media/l41lMHVBjErtyDsDm/giphy.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    color: white;
    font-family: 'Fira Mono', monospace;
    text-decoration: none;
}

.logo {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: auto;
}




@media only screen and (max-width: 600px) {
    .container {
        font-size: 0.8em;
        padding: 0;
    }
}

.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
    padding-top: 5px;   
}

.links {
    display: block;
    text-decoration-line: none;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: black;
}

footer p {
    font-size: 0.5rem;
}

.fab fa-tiktok {
    color: white;
}
